# runtime

log.txt
saves/
*.mp4

# jai

.build/

# git

.git/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

*.elf
*.exe